<section class="customer-section">
    <div class="container">
      <h2 class="text-center text-white customer-tittle">Trusted by Thousands of Happy Customers</h2>
      <p class="text-center text-secondary customer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy .</p>
        <div class="swiper swiper-custm">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card testimonial-card active-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="assets/img/Customer-1.png" class="rounded-circle me-3" alt="User">
                            <div>
                                <h5 class="card-title text-white">Vivek Robert</h5>
                                <p class="text-adress">Warsaw, Poland</p>
                            </div>
                            <span class="ms-auto text-warning">4.5 ★</span>
                        </div>
                        <p class="card-text text-white mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card testimonial-card active-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="assets/img/Customer-2.png" class="rounded-circle me-3" alt="User">
                            <div>
                                <h5 class="card-title text-white">Yessica Christy</h5>
                                <p class="text-adress">Shanxi, China</p>
                            </div>
                            <span class="ms-auto text-warning">4.5 ★</span>
                        </div>
                        <p class="card-text text-white mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card testimonial-card active-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="assets/img/Customer-3.png" class="rounded-circle me-3" alt="User">
                            <div>
                                <h5 class="card-title text-white">Kim Young Jou</h5>
                                <p class="text-adress">Seoul, South Korea</p>
                            </div>
                            <span class="ms-auto text-warning">4.5 ★</span>
                        </div>
                        <p class="card-text text-white mt-3">Lorem Ipsum is simply dummy text of the printing industry.</p>
                    </div>
                </div>
              </div>


              <div class="swiper-slide">
                <div class="card testimonial-card active-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="assets/img/Customer-1.png" class="rounded-circle me-3" alt="User">
                            <div>
                                <h5 class="card-title text-white">Vivek Robert</h5>
                                <p class="text-adress">Warsaw, Poland</p>
                            </div>
                            <span class="ms-auto text-warning">4.5 ★</span>
                        </div>
                        <p class="card-text text-white mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                </div>
              </div>
                
        
            </div>
        </div>  
        <div class="swiper-pagination"></div>
          <div class="del-nav">
              <div class="swiper-button-prev swiper-button-prev-unique"></div>
              <div class="swiper-button-next swiper-button-next-unique"></div>
          </div>  
    </div> 
          
</section>