<div class="container py-5 text-center first-part-portfolio">
    <!-- Навигация -->
    <nav class="breadcrumb-nav">
        <span>Home</span> <span class="text-warning">> Services</span>
    </nav>

    <div class="tittle-portfolio">
    <h2>Lorem Ipsum is simply dummy text of the printing and.</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <!-- Блок с цифрами -->
    <div class="stats-box d-flex justify-content-center mt-4">
        <div class="stat-item stat-item-1">
            <div><img src="assets/img/Clients.png"></div>
            <h3>90+</h3>
            <p>Clients</p>
        </div>
        <div class="divider divider-1"></div>
        <div class="stat-item stat-item-2">
            <div><img src="assets/img/Countries.png"></div>
            <h3>30+</h3>
            <p>Countries</p>
        </div>
        <div class="divider divider-2"></div>
        <div class="stat-item stat-item-3">
            <div><img src="assets/img/Projects.png"></div>
            <h3>50+</h3>
            <p>Projects</p>
        </div>
    </div>
</div>