<section class="why-work-with-us">
    <div class="container">
      <h2 class="section-title">Why work with us</h2>
      <div class="row">
        <!-- Карточка 1 -->
        <div class="col-lg-4">
          <div class="info-card">
            <span class="badge purple">Lorem Ipsum</span>
            <h3>Lorem Ipsum</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
        <!-- Карточка 2 -->
        <div class="col-lg-4">
          <div class="info-card">
            <span class="badge brown">Lorem Ipsum</span>
            <h3>Lorem Ipsum</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
        <!-- Карточка 3 -->
        <div class="col-lg-4">
          <div class="info-card">
            <span class="badge green">Lorem Ipsum</span>
            <h3>Lorem Ipsum</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
      </div>
    </div>
  </section>