<section class="hero-section py-5">
    <div class="container text-center text-white">
      <h2 class="fw-bold display-5 hero-tittle">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </h2>
      <div class="content mt-5 text-start">
        <h2 class="fw-bold hero-tittle-2">Lorem Ipsum</h2>
        <p class="hero-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
        <div class="image-container mt-4 ">
          <img src="assets/img/img-spider.png" alt="Spider Scene" class="img-fluid img-spider rounded shadow">
          <div class="decoration-points"><img src="assets/img/decoration-points.png" alt="points" class="img-fluid rounded shadow"></div>
        </div>
      </div>
    </div>
  </section>