<section class="recent-projects py-5 text-white">
    <div class="container text-center">
      <h2 class="fw-bold display-6 mb-3">Our Recent Projects</h2>
      <p class=" mb-5">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
      <div class="row g-4">
        <div class="col-md-4">
          <div class="project-item">
            <img src="assets/img/project-1.png" alt="Project 1" class="img-fluid rounded-3">
          </div>
        </div>
        <div class="col-md-4">
          <div class="project-item">
            <img src="assets/img/project-2.png" alt="Project 2" class="img-fluid rounded-3">
          </div>
        </div>
        <div class="col-md-4">
          <div class="project-item">
            <img src="assets/img/project-3.png" alt="Project 3" class="img-fluid rounded-3">
          </div>
        </div>
        <div class="col-md-4">
          <div class="project-item">
            <img src="assets/img/project-4.png" alt="Project 4" class="img-fluid rounded-3">
          </div>
        </div>
        <div class="col-md-4">
          <div class="project-item pr-1">
            <img src="assets/img/project-5.png" alt="Project 5" class="img-fluid rounded-3">
          </div>
        </div>
        <div class="col-md-4">
          <div class="project-item pr-2">
            <img src="assets/img/project-6.png" alt="Project 6" class="img-fluid rounded-3">
          </div>
        </div>
      </div>
      <button class="btn btn-dark mt-5 px-4 py-2 rounded-3">SEE ALL</button>
    </div>
  </section>