<section class="services-section py-5 text-white">
    <div class="container text-center">
      <h2 class="fw-bold display-5 mb-3">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </h2>
      <p class="mb-5">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <div class="row g-4">
        <div class="col-md-4 col-lg-3 col-service-1">
          <div class="service-item text-center">
            <img src="assets/img/phone-service.png" alt="Mobile Game Development" class="mb-3 img-service">
            <h5 class="fw-bold">Mobile Game Development</h5>
            <a href="#" class="text-warning"><img src="assets/img/vector.png" class="img-vector"></a>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-service-2">
          <div class="service-item text-center">
            <img src="assets/img/pc-service.png" alt="PC Game Development" class="mb-3 img-service">
            <h5 class="fw-bold">PC Game Development</h5>
            <a href="#" class="text-warning"><img src="assets/img/vector.png" class="img-vector"></a>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-service-3">
          <div class="service-item text-center">
            <img src="assets/img/ps4-service.png" alt="PS4 Game Development" class="mb-3 img-service">
            <h5 class="fw-bold">PS4 Game Development</h5>
            <a href="#" class="text-warning"><img src="assets/img/vector.png" class="img-vector"></a>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-service-4">
          <div class="service-item text-center">
            <img src="assets/img/vr-solution.png" alt="AR/VR Solutions" class="mb-3 img-service">
            <h5 class="fw-bold">AR/VR Solutions</h5>
            <a href="#" class="text-warning"><img src="assets/img/vector.png" class="img-vector"></a>
          </div>
        </div>
        <div class="col-md-4 col-lg-6 col-service-5">
          <div class="service-item text-center">
            <img src="assets/img/vr-design.png" alt="AR/VR Design" class="mb-3 img-service">
            <h5 class="fw-bold">AR/VR Design</h5>
            <a href="#" class="text-warning"><img src="assets/img/vector.png" class="img-vector"></a>
          </div>
        </div>
        <div class="col-md-4 col-lg-6 col-service-6">
          <div class="service-item text-center">
            <img src="assets/img/3d-modeling.png" alt="3D Modelings" class="mb-3 img-service">
            <h5 class="fw-bold">3D Modelings</h5>
            <a href="#" class="text-warning"><img src="assets/img/vector.png" class="img-vector"></a>
          </div>
        </div>
      </div>
    </div>
  </section>