<section class="trending-games-section py-5 text-white">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold tittle-1">Currently Trending Games</h2>
        <a href="#" class="btn btn-outline-light btn-sm btn-p-r">SEE ALL</a>
      </div>
      <div class="row">
        
        <div class="col-6 col-md-3 mb-4">
          <div class="game-card text-center g-c-1">
            <img src="assets/img/game-img-1.png" alt="Game 1" class="img-fluid rounded">
            <p class="mt-2 i-followers">
              <img src="assets/img/followers.png" alt="Followers" class="icon"> 40 Followers
            </p>
          </div>
        </div>
        
        <div class="col-6 col-md-3 mb-4">
          <div class="game-card text-center g-c-2">
            <img src="assets/img/game-img-2.png" alt="Game 2" class="img-fluid rounded">
            <p class="mt-2 i-followers">
              <img src="assets/img/followers.png" alt="Followers" class="icon"> 40 Followers
            </p>
          </div>
        </div>
        
        <div class="col-6 col-md-3 mb-4">
          <div class="game-card text-center g-c-3">
            <img src="assets/img/game-img-3.png" alt="Game 3" class="img-fluid rounded">
            <p class="mt-2 i-followers">
              <img src="assets/img/followers.png" alt="Followers" class="icon"> 40 Followers
            </p>
          </div>
        </div>
        
        <div class="col-6 col-md-3 mb-4">
          <div class="game-card text-center g-c-4">
            <img src="assets/img/game-img-4.png" alt="Game 4" class="img-fluid rounded">
            <p class="mt-2 i-followers">
              <img src="assets/img/followers.png" alt="Followers" class="icon"> 40 Followers
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>