.why-work-with-us {
       margin-top: 150px;
       
       color: white;
  }
  
  .why-work-with-us .section-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 45.12px;
    margin-bottom: 56px;
    position: relative;
    left: 57px;
    bottom: 6px;
  }
  
  .info-card {
    background: #1C140F;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
    width:378px;
    height: 348px;
    position: relative;
    left: 38px
  }

  
  .info-card h3 {
font-size: 20px;
font-weight: 600;
line-height: 37.5px;
position: absolute;
top: 123px;
left: 37px;
  }
  
  .info-card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26.25px;
    position: absolute;
    top: 178px;
    left: 37px;
    width:304px;
  }
  
  .badge {
    position: absolute;
    top: 66px;
    left: 37px;
    display: inline-block;
    padding: 5px 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.25px;
    border-radius: 5px;
    color: white;
    
  }
  
  .purple { background: #5a3758; }
  .brown { background: #5a3a28; }
  .green { background: #2f5a3b; }