.first-part-portfolio {
    margin-top:58px;
}
.breadcrumb-nav {
    color: #fff; 
    font-size: 16px;
    font-weight: 400;
    line-height: 33.36px;
    position: relative;
    left: 15px;
    top: -6px;
}



.tittle-portfolio {
    color: white;
}

.tittle-portfolio h2 {
    font-size: 33px;
    font-weight: 600;
    line-height: 59.56px;
    position: relative;
    top: 10px;
    left: 19px;
}

.tittle-portfolio p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px; 
    position: relative;
    top: 14px;
    left: 19px;
}

.stats-box {
    background-color: #252020;
    border-radius: 12px;
    padding: 20px;
    max-width: 1140px;
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    top: 36px;
    left: 38px;
}

.stat-item {
    text-align: center;
    flex: 1;
    color: white;
}


.divider-1{
    position: relative;
    right: 9px;
}

.divider-2 {
    position: relative;
    left: 33px;
}

.divider {
    width: 2px;
    height: 125px;
    background-color: #fffdfd;
}


.stat-item img {
    position: relative;
    top: 42px;
    right: 62px;
}


.stat-item h3{
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  position: relative;
  left: 26px;
  bottom: 17px;
}

.stat-item p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  left: 49px;
  top: -20px;
}

.stat-item-1 p {
    left: 34px;
}


.stat-item-3 {
    position: relative;
    left: 21px;
}


.stat-item-3 p {
    left: 40px;
}