.services-section {
    background: url('assets/img/background-2.png') no-repeat center center/cover;
    height: 873px;
    position: relative;
    padding: 60px 0;
    margin-top: 178px;
    margin-bottom:60px;
  }


  .services-section h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 56.25px;
    width:826px;
    position: relative;
    left: 253px;
    top: 45px;
  }

  .services-section p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color:white;
    width: 820px;
    position: relative;
    left: 258px;
    top: 53px;
  }

  .services-section .row {
    position: relative;
    top: 105px;
  }
  
  .service-item .img-service {
    width: 65px;
    height: 65px;
  }

  .img-vector {
    width:20px;
    height:20px;
  }
  
  .service-item h5 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 15px;
  }
  
  .service-item a {
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    font-size: 18px;
  }

  .col-service-1 {
    position: relative;
    left: 104px;
    top: -2px;
  }
  .col-service-2 {
    position: relative;
    left: 80px;
    top: -2px;
  }
  .col-service-3 {
    position: relative;
    left: 47px;
    top: -2px;
  }
  .col-service-4 {
    position: relative;
    right: 16px;
    top: -2px;
  }
  .col-service-5 {
    position: relative;
    left: 245px;
    top: 38px;
  }
  .col-service-6 {
    position: relative;
    right: 200px;
    top: 38px;
  }

  .img-vector {
    width:20px;
    height:20px;
  }
