<section class="search-section">
    <div class="container py-5">
    <!-- Навигация -->
    <nav class="breadcrumb">
        <a href="#" class="text-warning">Home</a> <span class="text-white arro">></span> <span class="text-warning">News</span>
    </nav>

    <!-- Заголовок -->
    <div class="text-center">
        <h2 class="fw-bold text-white">Lorem Ipsum is simply dummy text of the printing and.</h2>
        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <!-- Поисковая строка -->
        <div class="search-box">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
    </div>
    </div>
</section>
<section class="news-section">
<div class="container">
    <div class="row mt-5">
        <!-- Основной контент -->
        <div class="col-lg-6">
            <!-- Крупная карточка статьи -->
            <div class="card text-white mb-4">
                <img src="assets/img/news-wallpapper-1.png" class="card-img-top" alt="News Image">
                <div class="card-body">
                    <span class="badge bg-primary badge-1">John smash</span>
                    <span class="ms-2 min-5">.5 min</span>
                    <h5 class="mt-3">Lorem Ipsum is simply dummy text dummy text</h5>
                    <p class="text-white">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    </p>
                    <p class="blog-text-2 text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>

            <!-- Вторая карточка -->
            <div class="card text-white mb-4 card-2">
                <img src="assets/img/news-wallpapper-2.png" class="card-img-top" alt="News Image">
                <div class="card-body">
                    <span class="badge bg-primary badge-1">John smash</span>
                    <span class="ms-2 min-5">.5 min</span>
                    <h5 class="mt-3">Lorem Ipsum is simply dummy text dummy text</h5>
                    <p class="text-white">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    </p>
                </div>
            </div>
        </div>

        <!-- Боковая колонка -->
        <div class="col-lg-6">
            <div class="list-group">
                <!-- Мини-карточки -->
                <a href="#" class="list-group-item  text-white d-flex">
                    <img src="assets/img/img-news-1.png" class="rounded me-3" alt="Thumbnail">
                    <div>
                        <span class="badge bg-danger badge-2">John smash</span>
                        <span class="ms-2 min-5-2">.5 min</span>
                        <h6 class="mt-1">Lorem Ipsum is simply dummy text dummy text?</h6>
                    </div>
                </a>

                <a href="#" class="list-group-item  text-white d-flex">
                    <img src="assets/img/img-news-2.png" class="rounded me-3" alt="Thumbnail">
                    <div>
                        <span class="badge bg-primary badge-2">John smash</span>
                        <span class="ms-2 min-5-2">.5 min</span>
                        <h6 class="mt-1">Lorem Ipsum is simply dummy text dummy text?</h6>
                    </div>
                </a>

                <a href="#" class="list-group-item   text-white d-flex">
                    <img src="assets/img/img-news-3.png" class="rounded me-3" alt="Thumbnail">
                    <div>
                        <span class="badge bg-success badge-2">John smash</span>
                        <span class="ms-2 min-5-2">.5 min</span>
                        <h6 class="mt-1">Lorem Ipsum is simply dummy text dummy text?</h6>
                    </div>
                </a>

                <a href="#" class="list-group-item   text-white d-flex">
                    <img src="assets/img/img-news-4.png" class="rounded me-3" alt="Thumbnail">
                    <div>
                        <span class="badge bg-warning badge-2">John smash</span>
                        <span class="ms-2 min-5-2">.5 min</span>
                        <h6 class="mt-1">Lorem Ipsum is simply dummy text dummy text?</h6>
                    </div>
                </a>
                <a href="#" class="list-group-item   text-white d-flex">
                    <img src="assets/img/img-news-5.png" class="rounded me-3" alt="Thumbnail">
                    <div>
                        <span class="badge bg-warning badge-2">John smash</span>
                        <span class="ms-2 min-5-2">.5 min</span>
                        <h6 class="mt-1">Lorem Ipsum is simply dummy text dummy text?</h6>
                    </div>
                </a>
                <a href="#" class="list-group-item  text-white d-flex">
                    <img src="assets/img/img-news-6.png" class="rounded me-3" alt="Thumbnail">
                    <div>
                        <span class="badge bg-warning badge-2">John smash</span>
                        <span class="ms-2 min-5-2">.5 min</span>
                        <h6 class="mt-1">Lorem Ipsum is simply dummy text dummy text?</h6>
                    </div>
                </a>
                <a href="#" class="list-group-item  text-white d-flex">
                    <img src="assets/img/img-news-7.png" class="rounded me-3" alt="Thumbnail">
                    <div>
                        <span class="badge bg-warning badge-2">John smash</span>
                        <span class="ms-2 min-5-2">.5 min</span>
                        <h6 class="mt-1">Lorem Ipsum is simply dummy text dummy text?</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</section>