<footer class="bg-black text-white pt-5">
	<div class="container">
	  <div class="row">
		<!-- Логотип и описание -->
		<div class="col-md-3 mb-4 logo-des">
		  <h2>LOGO</h2>
		  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		  <p>@Logo</p>
		</div>
  
		<!-- Ссылки About us -->
		<div class="col-md-3 mb-4 about-us">
		  <h3>About us</h3>
		  <ul class="list-unstyled">
			<li><a href="#" class="text-white text-decoration-none">Zeux</a></li>
			<li><a href="#" class="text-white text-decoration-none">Portfolio</a></li>
			<li><a href="#" class="text-white text-decoration-none">Careers</a></li>
			<li><a href="#" class="text-white text-decoration-none">Contact us</a></li>
		  </ul>
		</div>
  
		<!-- Контактная информация -->
		<div class="col-md-3 mb-4 contact">
		  <h3>Contact us</h3>
		  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		  <p class="p-number">+908 89097 890</p>
		</div>
		<div class="col-md-3 mb-4 social"><div class="social-icons">
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-linkedin-in"></i></a>
			  </div>
		</div>
	  </div>
	</div>
	<div class="text-center py-3 border-top border-secondary">
	  <p class="mb-0">Copyright © 2021 Lorem All Rights Reserved</p>
	</div>
  </footer>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>