<section class="container subscribe-section">
<div class="container subscribe-text">
    <h2>Lorem Ipsum</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
</div>

<div class="subscribe-btn">
    <div class="row align-items-center">
        <div class="col-md-6 subscribe-text-2">
            <h2>Stay in the loop</h2>
            <p>Subscribe to receive the latest news and updates about TDA. We promise not to spam you!</p>
        </div>
        <div class="col-md-6 ">
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter email address">
                <button class="btn">Continue</button>
            </div>
        </div>
    </div>
</div>
</section>


