<section class="feedback-section">
    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="text-center mb-4 feedback-text">
        <h2 class="fw-bold text-white">Say hello</h2>
        <p class="text-white">Lorem Ipsum is simply dummy text of the printing.</p>
    </div>
    <div class="decor-line-1"><img src="assets/img/snake-1.png"></div>
    <div class="decor-line-2"><img src="assets/img/snake-2.png"></div>

    <form class="contact-form w-75">
        <div class="row mb-3">
            <div class="col-md-6 name-control-1">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control name-input" id="firstName" placeholder="Enter first name">
            </div>
            <div class="col-md-6 name-control-2">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control name-input" id="lastName" placeholder="Enter last name">
            </div>
        </div>
        
        <div class="mb-3 email-control">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control email-input" id="email" placeholder="Enter email">
        </div>

        <div class="mb-3 message-control">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control message-input" id="message" rows="4" placeholder="Write your message"></textarea>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-custom">Get in touch</button>
        </div>
    </form>
</div>
</section>