<section class="world-map">
    <div class="container text-center my-5">
    <nav class="breadcrumb-nav">
        <a href="#" class="text-muted">Home</a> 
        <span class="text-orange"> > Contact us</span>
    </nav>

    <h2 class="fw-bold mt-3 text-white">Lorem Ipsum is simply dummy text of the printing and.</h2>
    <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

    <!-- Карта -->
    <div class="map-container">
        <img src="assets/img/world-map.png" alt="World Map" class="img-fluid">
        <div class="map-points">
            <div class="map-point" style="top: 15%; left: 20%;"></div> <!-- 1 -->
            <div class="map-point" style="top: 20%; left: 30%;"></div> <!-- 2 -->
            <div class="map-point" style="top: 32%; left: 30%;"></div> <!-- 3 -->
            <div class="map-point" style="top: 18%; left: 38%;"></div> <!-- 4 -->
            <div class="map-point" style="top: 40%; left: 21%;"></div> <!-- 5 -->
            <div class="map-point big-point" style="top: 42%; left: 7%;"></div> <!-- 6 -->
            <div class="map-point" style="top: 32%; left: 11%;"></div> <!-- 7 -->
            <div class="map-point" style="top: 31%; left: 1%;"></div>   <!-- 8 -->
            <div class="map-point" style="top: 32%; left: -10%;"></div><!-- 9 -->
            <div class="map-point" style="top: 59%; left: 9%;"></div><!-- 10 -->
            <div class="map-point" style="top: 53%; left: 16%;"></div><!-- 11 -->
            <div class="map-point" style="top: 74%; left: 21%;"></div><!-- 12 -->
            <div class="map-point" style="top: 97%; left: 23%;"></div><!-- 13 -->
            <div class="map-point big-point" style="top: 84%; left: 26%;"></div><!-- 14 -->
            <div class="map-point" style="top: 82%; left: 32%;"></div><!-- 15 -->
            <div class="map-point" style="top: 65%; left: 45%;"></div><!-- 16 -->
            <div class="map-point big-point" style="top: 69%; left: 58%;"></div><!-- 17 -->
            <div class="map-point big-point" style="top: 87%; left: 56%;"></div><!-- 18 -->
            <div class="map-point" style="top: 46%; left: 56%;"></div><!-- 19 -->
            <div class="map-point" style="top: 34%; left: 51%;"></div><!-- 20 -->
            <div class="map-point" style="top: 38%; left: 69%;"></div><!-- 21 -->
            <div class="map-point big-point" style="top: 41%; left: 82%;"></div><!-- 22 -->
            <div class="map-point" style="top: 55%; left: 86%;"></div><!-- 23 -->
            <div class="map-point" style="top: 61%; left: 76%;"></div><!-- 24 -->
            <div class="map-point" style="top: 28%; left: 77%;"></div><!-- 25 -->
            <div class="map-point" style="top: 32%; left: 94%;"></div><!-- 26 -->
            <div class="map-point" style="top: 31%; left: 110%;"></div><!-- 27 -->
            <div class="map-point" style="top: 80%; left: 87%;"></div><!-- 28 -->
            <div class="map-point big-point" style="top: 92%; left: 92%;"></div><!-- 29 -->
            <div class="map-point" style="top: 95%; left: 100%;"></div><!-- 30 -->
    </div>
    </div>
    <!-- Контактная информация -->
    <div class="contact-section">
        <div class="row text-white align-items-center">
            <!-- Соцсети -->
            <div class="col-md-4 text-center text-md-start div-social">
                <p class="mb-1">Follow us</p>
                <div class="d-flex justify-content-center justify-content-md-start gap-icon">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

            <!-- Разделитель -->
            <div class="col-md-1 d-none d-md-block">
                <div class="separator"></div>
            </div>

            <!-- Телефон -->
            <div class="col-md-3 text-center phone">
                <i class="fas fa-phone-alt phone-icon"></i>
                <span class="ms-2">+94 4444 5555 6</span>
            </div>

            <!-- Разделитель -->
            <div class="col-md-1 d-none d-md-block">
                <div class="separator"></div>
            </div>

            <!-- Локация -->
            <div class="col-md-3 text-center text-md-end navigate">
                <i class="fas fa-map-marker-alt marker"></i>
                <span class="ms-2">but also the leap into electronic typesetting</span>
            </div>
        </div>


   
</div>
</section>